fastapi
uvicorn
python-dotenv
pdfplumber
gTTS
whisper
requests
httpx
weasyprint
python-multipart
websockets
torch
opencv-python
mediapipe
numpy
jinja2
pillow
scikit-learn
email-validator
aiosmtplib
PyPDF2
google-generativeai
